beolink_allstandby:
  target:
    entity:
      integration: bang_olufsen
      domain: media_player

beolink_expand:
  target:
    entity:
      integration: bang_olufsen
      domain: media_player
  fields:
    all_discovered:
      required: false
      example: false
      selector:
        boolean:
    jid_options:
      collapsed: false
      fields:
        beolink_jids:
          required: false
          example: >-
            [
              1111.2222222.33333333@products.bang-olufsen.com,
              4444.5555555.66666666@products.bang-olufsen.com
            ]
          selector:
            object:

beolink_join:
  target:
    entity:
      integration: bang_olufsen
      domain: media_player
  fields:
    jid_options:
      collapsed: false
      fields:
        beolink_jid:
          required: false
          example: 1111.2222222.33333333@products.bang-olufsen.com
          selector:
            text:
        source_id:
          required: false
          example: tidal
          selector:
            select:
              translation_key: "source_ids"
              options:
                - aux_a
                - beoradio
                - cd
                - deezer
                - linein
                - line_in
                - ph
                - radio
                - spdif
                - spotify
                - tidal
                - toslink
                - tp1
                - tp2

beolink_leader_command:
  target:
    entity:
      integration: bang_olufsen
      domain: media_player
  fields:
    command:
      required: true
      example: "set_volume_level"
      selector:
        select:
          options:
            - "media_next_track"
            - "media_pause"
            - "media_play_pause"
            - "media_play"
            - "media_previous_track"
            - "media_seek"
            - "media_stop"
            - "mute_volume"
            - "select_source"
            - "set_relative_volume_level"
            - "set_volume_level"
            - "toggle"
            - "volume_down"
            - "volume_up"
    parameter:
      required: false
      example: 0.4
      selector:
        text:

beolink_leave:
  target:
    entity:
      integration: bang_olufsen
      domain: media_player

beolink_set_relative_volume:
  target:
    entity:
      integration: bang_olufsen
      domain: media_player
  fields:
    volume_level:
      required: true
      example: 0.2
      selector:
        text:

beolink_set_volume:
  target:
    entity:
      integration: bang_olufsen
      domain: media_player
  fields:
    volume_level:
      required: true
      example: 0.4
      selector:
        text:

beolink_unexpand:
  target:
    entity:
      integration: bang_olufsen
      domain: media_player
  fields:
    jid_options:
      collapsed: false
      fields:
        beolink_jids:
          required: true
          example: >-
            [
              1111.2222222.33333333@products.bang-olufsen.com,
              4444.5555555.66666666@products.bang-olufsen.com
            ]
          selector:
            object:

reboot:
  target:
    entity:
      integration: bang_olufsen
      domain: event

halo_configuration:
  target:
    entity:
      integration: bang_olufsen
      domain: event

halo_notification:
  target:
    entity:
      integration: bang_olufsen
      domain: event
  fields:
    title:
      required: true
      example: "Test notification title"
      selector:
        text:
    subtitle:
      required: true
      example: "Test notification subtitle"
      selector:
        text:

halo_display_page:
  target:
    entity:
      integration: bang_olufsen
      domain: event
  fields:
    page_id:
      required: true
      example: "ca1a0965-7157-9432-9d92-c040728f5ad1"
      selector:
        text:
    button_id:
      required: false
      example: "5abf954b-0069-9df1-b557-fd72d1fc1864"
      selector:
        text:
